{% extends 'base.html' %}
  {% load static %}
  <!-- Content -->
{% block body %}
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Banner -->
    <section class="sub-bnr">
      <div class="container">
        <h2>Professionals Available</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="professionals.html#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Professionals</li>
          </ol>
        </nav>
      </div>
    </section>
    
    <!-- Papular Professionals -->
    <main class="cd-main-content">
      <section class="padding-top-100 padding-bottom-100">
        <div class="container"> 
          
          <!-- filter -->
          <div class="cd-tab-filter-wrapper filter-wrapper">
            <div class="cd-tab-filter"> 
              
              <!-- filter Btns -->
              <ul class="cd-filters">
                <li class="placeholder"> <a data-type="all" href="professionals.html#0">All</a> </li>
                <li class="filter"><a class="selected" href="professionals.html#0" data-type="all">All</a></li>
                <li class="filter" data-filter=".pro"><a href="professionals.html#0" data-type="pro">UI/UX</a></li>
                <li class="filter" data-filter=".freelance"><a href="professionals.html#0" data-type="color-1">Front-end Developers</a></li>
                <li class="filter" data-filter=".coporate"><a href="professionals.html#0" data-type="coporate">Freelancers</a></li>
                <li class="filter" data-filter=".indui"><a href="professionals.html#0" data-type="color-1">Designer</a></li>
                <li class="filter" data-filter=".agency"><a href="professionals.html#0" data-type="agency">Agency</a></li>
              </ul>
              
              <!-- Search -->
              <div class="filter-search"> <a class="fltr-srch collapsed" data-toggle="collapse" href="professionals.html#filter-detail" role="button" aria-expanded="false" aria-controls="collapseExample"> Advance Search <i class="fa fa-filter"></i> </a> 
                
                <!-- Filter Details -->
                <div class="inside-from">
                  <div class="collapse" id="filter-detail">
                    <div class="card">
                      <form>
                        <ul>
                          <!-- Company Name -->
                          <li>
                            <label>
                              <input type="search" class="form-control" placeholder="Name">
                            </label>
                          </li>
                          <!-- City -->
                          <li>
                            <label>
                              <input type="text" class="form-control" placeholder="Skills">
                            </label>
                          </li>
                          <!-- Select -->
                          <li>
                            <label>
                              <select class="form-control">
                                <option>Information Technology</option>
                                <option>Finamce</option>
                                <option>Coporate</option>
                                <option>Freelance</option>
                                <option>Agency</option>
                              </select>
                            </label>
                          </li>
                          <li>
                            <button type="submit" class="btn">Search</button>
                          </li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="cd-gallery">
            <ul>
              {% for i in allusers %}
              {% if i.usr.username != request.user.username %}
              <li class="mix freelance  indui ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{i.image.url}}" class="img-responsive" alt="{{i.name}}" >
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="professionals.html#" class="btn">Follow</a> <a href="{% url 'UserProfile' i.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a href="professionals.html#."> {{i.name}} </a></h5>
                    <span>{{i.profile_title}}</span> <span><i class="fa fa-map-marker"></i>{{i.location}}</span> </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            <div class="clearfix"></div>
            
            <!-- Btn Center -->
            <div class="btn-center margin-top-30 text-center"> <a href="professionals.html#." class="btn btn-inverse">View More</a> </div>
          </section>
        </div>
      </section>
    </main>
    
    <!-- ABOUT -->
    <section class="bg-white"> 
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>
        
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>Collaborate on a project</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
            <ul class="count-info row">
              <li class="col"> <span class="counter">5000</span><span>+</span>
                <p>Collaboration</p>
              </li>
              <li class="col"> <span class="counter">750</span><span>+</span>
                <p>Projects</p>
              </li>
            </ul>
            <a href="professionals.html#." class="btn">Find a Jobs</a> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>
  
  <!-- Footer -->
  {% endblock %}